@page "/offers/editor/{InputOfferId}"
@page "/offers/editor"

@using System.ComponentModel.DataAnnotations

@inherits UserIdentificationComponent

@inject OfferService OfferService
@inject IFileManager FileManager

@layout _OffersLayout

@if(_offerModel is null){
    <LoadingMessage/>
}
else
{
    <div class="flex-fill">
        <EditForm Model="_offerModel" OnValidSubmit="TrySave">
            <DataAnnotationsValidator />
            <div class="form-item">
                <label>Product name</label>
                <InputText @bind-Value=_offerModel.Name class="form-control" placeholder="Enter name"></InputText>
                <div class="valid-message">
                    <ValidationMessage For="@(() => _offerModel.Name)" />
                </div>
            </div>
            <div class="form-item">
                <label>Medias</label>
                <InputFile OnChange="@AddFiles" class="form-control mb-1" multiple />
                <div>
                    @foreach (var media in _offer.Medias)
                    {
                        <div class="media-container">
                            <img class="offer-image" src="@FileManager.GetFullPath(media)">
                            <i @onclick="() => DeleteMedia(media)" class="delete-image bi bi-dash-circle-fill"></i>
                        </div>
                    }
                    @if (_results.ContainsKey("mediaSet"))
                    {
                        <div>@_results["mediaSet"]</div>
                    }
                </div>
            </div>
            <div class="d-flex flex-row justify-content-between">
                <div class="form-item flex-fill pe-2">
                    <label>Price $</label>
                    <InputNumber @bind-Value=_offerModel.Price class="form-control" placeholder="Enter Price"></InputNumber>
                    <div class="valid-message">
                        <ValidationMessage For="@(() => _offerModel.Price)" />
                    </div>
                </div>
                <div class="form-item flex-fill ps-2">
                    <label>Discount %</label>
                    <InputNumber @bind-Value=_offerModel.Discount class="form-control"></InputNumber>
                    <div class="valid-message">
                        <ValidationMessage For="@(() => _offerModel.Discount)" />
                    </div>
                </div>
                <div class="form-item flex-fill ps-2">
                    <label>Amount</label>
                    <InputNumber @bind-Value=_offerModel.Amount class="form-control"></InputNumber>
                    <div class="valid-message">
                        <ValidationMessage For="@(() => _offerModel.Amount)" />
                    </div>
                </div>
            </div>
            <div class="form-item">
                <label>Discription</label>
                <InputTextArea @bind-Value=_offerModel.Discription class="form-control"></InputTextArea>
            </div>
            <div class="form-item">
                <label>Category</label>
                <CategoryPicker @bind-Value="_offerModel.Category" @bind-Value:event="ValueChanged" />
            </div>
            <div class="form-item">
                <label>Tags</label>
                <TagPicker Tags="_offer.Tags" Category="_offerModel.Category"></TagPicker>
            </div>
            <div class="form-item">
                <label>Receive method</label>
                <InputSelect class="form-select" @bind-Value="_offerModel.ReceiveMethod">
                    @foreach (var method in Enum.GetValues(typeof(ReceiveMethod)))
                    {
                        <option value="@method">@method</option>
                    }
                </InputSelect>
            </div>
            <div class="form-item submit-buttons">
                @if(_results.ContainsKey("save")){
                    <div class="align-self-center">@_results["save"]</div>
                }
                <div class="accept">
                    <InputItem type="submit" value="Accept"></InputItem>
                </div>
                <div @onclick="Cancel" class="cancel">
                    <MenuItem NavigationForceLoad=true href="offers/list">Cancel</MenuItem>
                </div>
            </div>
        </EditForm>
    </div>
}

@code {
    private Offer _offer = null!;

    private OfferModel? _offerModel;

    private Dictionary<string, string> _results = new Dictionary<string, string>();

    [Parameter]
    public string? InputOfferId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        await RetrieveOffer();
        _offerModel = ModelMapper.Map<Offer, OfferModel>(_offer);
    }

    private async Task RetrieveOffer()
    {
        var offerId = GetParsedOfferId();
        _offer = await OfferService.InitializedOffer(CurrentUser, offerId);
    }

    private int? GetParsedOfferId()
    {
        if (int.TryParse(InputOfferId, out int offerId))
        {
            return offerId;
        }
        return null;
    }

    private async Task TrySave()
    {
        ModelMapper.Map<OfferModel, Offer>(_offerModel!, _offer);
        var result = await OfferService.Save();
        SetSaveResult(result);
    }

    private void SetSaveResult(ActionResult actionResult)
    {
        var saveResult = actionResult.Success
            ? "Successfully saved"
            : "Saving failed";
        _results["save"] = saveResult;
    }

    private async Task AddFiles(InputFileChangeEventArgs e)
    {
        int maxAllowedFiles = 10;
        int maxSize = 1024 * 1000;

        var results = new List<ActionResult>();
        foreach (var file in e.GetMultipleFiles(maxAllowedFiles))
        {
            var saveAction = async (FileStream fileStream) 
                => await file.OpenReadStream(maxSize).CopyToAsync(fileStream);

            var media = new Media(file.Name, file.ContentType, file.Size);

            var result = await OfferService.RegisterMedia(media, saveAction);
            results.Add(result);
        }
        SetFileAddResult(results);
    }

    private void SetFileAddResult(List<ActionResult> actionResults)
    {
        var mediaSetResult = actionResults.Any(r => r.Failed)
            ? "Adding failed"
            : "Adding succeeded";
        _results["mediaSet"] = mediaSetResult;
    }

    private async Task Cancel(){
        await OfferService.Rollback();
    }

    private async Task DeleteMedia(Media media){
        await OfferService.DeleteMedia(media);
    }
}
